.movie-list {
    background: linear-gradient(105deg, rgba(255,255,255,0.9), rgba(255,255,255,0) 95%);
    margin: 0 auto;
    margin-top: 50px;
    width: fit-content;
    height: 80vh;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    ul li {
        padding-right: 40px;
    }
    
    h1 {
        font-family: 'Lobster', cursive;
        font-size: 3rem;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
    h4 {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
}

.movies-list-items {
    height: 80%;
    overflow: auto;
    z-index: 10;
}



.card-movie {
    margin: 0 auto;
    margin-top: 50px;
    height: 700px;
    width: 600px;
    background-color: rgba(255,255,255,0.9) !important;
    overflow: auto;
    padding:10px;
    .btn-sm {
        margin-bottom: 20px;
    }
}

@media (max-width: 960px) {
    .card-movie {
        width: 95vw;
        height: 600px;
    }
}

.card-img-top {
    // width:max-content;
    width: 100%;
    height: 100%;
    object-fit: contain;
    // height: 100%;

}

.list-container {
    display:flex;
    position: relative;
    height: 60%;
}