.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
    color: white;
    font-family: 'Lobster', cursive; 
    font-size: 15vh;
    text-shadow: 5px 5px black;
    margin-top: 200px;
    margin-bottom: 120px;
    line-height: 7rem;
    text-align: center;
}

.joke-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}